
*.log
*.out
*.err
*.tmp
*.swp
*~

__pycache__/
*.py[cod]
.env
.venv/
env/
venv/
.ipynb_checkpoints/
*.ipynb


*.o
*.obj
*.a
*.so
*.exe
*.out
cmake-build*/
CMakeFiles/
CMakeCache.txt
Makefile
build/
compile_commands.json

checkpoints/
*.pth
*.pt
*.h5
*.ckpt

slurm-*.out
slurm-*.err

.vscode/
.idea/
.DS_Store
